* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
  height: 80px;
}

.social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .navbar-nav a {
  font-size: 13px;
  font-weight: 600;
  color: #181818;
  display: block;
  line-height: 64px;
}

#header .navbar-nav a:hover {
  font-size: 13px;
  font-weight: 600;
  color: #b61984;
}

#header .navbar {
  padding: 0 30px;
}

#header .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .navbar-nav .nav-item {
  padding-right: 34px;
}

#header .navbar-brand {
  padding: 0;
}

#header .nav-call button {
  outline: none;
  font-weight: 600;
  text-align: center;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
          box-shadow: 0 0 0 3em #b61984 inset;
  color: #181818;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  padding: 0.8em 1.5em;
  border: 2px solid #b61984;
  border-radius: 50px;
  letter-spacing: 1px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#header .nav-call button:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
}

.wavy_banner {
  background-image: url(../img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 60px 0;
  position: relative;
}

.wavy_banner .img_top {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  pointer-events: none;
}

.wavy_banner .img_top img {
  width: 100%;
  height: auto;
  display: block;
}

.wavy_banner .banner-cover {
  padding-top: 56px;
}

.wavy_banner .banner-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
}

.wavy_banner .banner-left h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #191919;
}

.wavy_banner .banner-left h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}

.testimonial {
  background-color: #dcd1f3;
  background-image: url(../img/Wave_White_bottom_right_shape_01.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.testimonial .tes_item {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.testimonial .tes_item:hover {
  -webkit-box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.testimonial .tes_item .card-body {
  text-align: center;
  padding: 30px;
}

.testimonial .tes_item {
  border-radius: 10px;
}

.testimonial .tes_item .tes_img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.testimonial .tes_item img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out, -webkit-transform 650ms ease-in-out, -webkit-filter 650ms ease-in-out;
}

.testimonial .tes_item img:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

.testimonial .tes_item .card-title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #b61984;
}

.testimonial .tes_item .card-name {
  font-size: 1.55rem;
  font-weight: 700;
  color: #191919;
}

.testimonial .tes_item .card-text {
  font-size: 15px;
  font-weight: 400;
  color: #181818;
}

footer {
  background-image: url(../../img/footer_background.jpg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #aa017e;
  padding: 110px 0;
  font-size: 12.6px;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer_item {
  padding: 30px;
}

.footer_item li {
  list-style: none;
  padding: 14px 0 0 0;
}

.footer_link li,
.footer_about li {
  padding: 14px 0 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_item a {
  text-decoration: none;
  color: inherit;
}

.footer_item a:hover {
  opacity: 0.8;
}

.footer_contact a:hover {
  color: #181818;
}

.footer_item h3 {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}

#newsletter_input {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-radius: 50px;
  outline: none;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: inherit;
}

#newsletter_input::-webkit-input-placeholder {
  text-align: center;
  font-size: 12.6px;
  font-weight: 400;
  color: #fff;
}

#newsletter_input:-ms-input-placeholder {
  text-align: center;
  font-size: 12.6px;
  font-weight: 400;
  color: #fff;
}

#newsletter_input::-ms-input-placeholder {
  text-align: center;
  font-size: 12.6px;
  font-weight: 400;
  color: #fff;
}

#newsletter_input::placeholder {
  text-align: center;
  font-size: 12.6px;
  font-weight: 400;
  color: #fff;
}

#newsletter_input:focus {
  border: 1px solid white;
}

#newsletter_btn {
  outline: none;
  -webkit-box-shadow: 0 0 0 3em #fff inset;
          box-shadow: 0 0 0 3em #fff inset;
  color: #181818;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-weight: 600;
  background: transparent;
  padding: 1em 1em;
  border: none;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 0.9em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#newsletter_btn:hover {
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
  color: #fff;
}

.contact {
  background-image: url(../../img/accent_bottom_wave_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contact_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact_right .form-group {
  position: relative;
}

.contact_right input,
.contact_right select,
.contact_right textarea {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 11px 11px 11px 38px !important;
  font-size: 11px !important;
  height: 37px;
  color: #181818;
}

.contact_right input:focus,
.contact_right select:focus,
.contact_right textarea:focus {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.contact_right #InputMessage {
  height: 90px;
  line-height: 1.5;
  border-radius: 20px;
}

.contact_right .form_header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #181818;
  margin-bottom: 50px;
}

.contact_right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.contact_right .contact_btn {
  margin-top: 20px;
  width: 100%;
  max-width: 150px;
  background: transparent;
  padding: 8px 8px;
  border: none;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  line-height: 3.1em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
          box-shadow: 0 0 0 3em #b61984 inset;
}

.contact_right .contact_btn:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

.InputName_icon::before,
.InputEmail_icon::before,
.Lang-Select_icon::before,
.InputMessage_icon::before {
  font-size: 13px !important;
  color: #b61984;
  position: absolute;
  left: 0;
  padding-left: 28px;
  top: 12px;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.InputName_icon::before {
  content: "\f007";
}

.InputEmail_icon::before {
  content: "\f0e0";
}

.Lang-Select_icon::before {
  content: "\f19d";
  padding-left: 16px;
}

.InputMessage_icon::before {
  content: "\f4ad";
  padding-left: 16px;
}
/*# sourceMappingURL=main.css.map */