//tạo định dạng kiểu text

@mixin styleText($fs,$fw,$cl) {
    font-size: $fs ;
    font-weight: $fw ;
    color: $cl ;
}

//tạo định dạng kiểu Button

@mixin styleButton($bg, $pd-y, $pd-x, $bd, $radius, $ls) {
    background: $bg;
    padding: $pd-y $pd-x;
    border: $bd;
    border-radius: $radius;
    letter-spacing: $ls;
}

//tạo định dạng kiểu repoinsive
@mixin mediaQuery($screen) {
    @if (map-has-key($map:$breakpoints, $key:$screen)) {
        $value: map-get($map:$breakpoints, $key:$screen);
        @media screen and (max-width:$value) {
            @content;
        }
    } @else{
        @warn "Screen không tồn tại"
    }
    
}