//color
$color-dark-1: #181818;
$color-dark-2: #191919;
$color-white: #ffffff;
$color-pink: #b61984; 
$color-pink-dark: #aa017e;
$color-white: #fff;
$color-purple: #dcd1f3;

//font size
$fs-1: 0.75rem; //11.25px
$fs-2: 0.9rem; //13.5px
$fs-3: 13px;
$fs-4: 15px;
$fs-5: 1.1rem; //16.5px
$fs-6: 1.55rem; //23.25px
$fs-7: 2.5rem; //37.5px
$fs-8: 3.8rem; //57px
$fs-9: 12.6px;


//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//Padding

$pd-1: 15px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 25px;
$pd-5: 50px;
$pd-6: 60px;
$pd-7: 56px;
$pd-8: 8px;
$pd-9: 14px;
$pd-10: 10px;
$pd-12: 110px;
