.contact {
    background-image: url(../img/accent_bottom_wave_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.contact_right {
    display: flex;
    align-content: center;
}
.contact_right .form-group {
    position: relative;
}
.contact_right input,
.contact_right select,
.contact_right textarea {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font: inherit;
    width: 100%;
    background: transparent;
    line-height: 1;
    display: block;
    padding: 11px 11px 11px 38px !important;
    font-size: 11px !important;
    height: 37px;
    color: $color-dark-1;
    &:focus {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}
.contact_right #InputMessage {
    height: 90px;
    line-height: 1.5;
    border-radius: 20px;
}
.contact_right .form_header {
    @include styleText($fs-7, $fw-3, $color-dark-1);
    margin-bottom: $pd-5;
}
.contact_right form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
    padding: $pd-4;
}
.contact_right .contact_btn {
    margin-top: $pd-2;
    width: 100%;
    max-width: 150px;
    @include styleButton(transparent, 8px, 8px, none, 50px, 1px);
    @include styleText($fs-1, $fw-2, $color-white);
    line-height: 3.1em;
    transition: all 300ms ease;
    color: $color-white;
    box-shadow: 0 0 0 3em $color-pink inset;
    &:hover {
        color: $color-pink;
        box-shadow: 0 0 0 1px $color-pink inset;
    }
}

.InputName_icon,
.InputEmail_icon,
.Lang-Select_icon,
.InputMessage_icon {
    &::before {
        font-size: 13px !important;
        color: $color-pink;
        position: absolute;
        left: 0;
        padding-left: 28px;
        top: 12px;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
}
.InputName_icon::before {
    content: "\f007";
}
.InputEmail_icon::before {
    content: "\f0e0";
}
.Lang-Select_icon::before {
    content: "\f19d";
    padding-left: 16px;
}
.InputMessage_icon::before {
    content: "\f4ad";
    padding-left: 16px;
}
