#header .navbar{
    
}

.navbar-brand img {
    height: 80px;
}

.social_network {
    display: flex;
}

#header .navbar-nav a {
    @include styleText($fs-3, $fw-2, $color-dark-1);
    display: block;
    line-height: 64px;
    &:hover {
        @include styleText($fs-3, $fw-2, $color-pink);
    }
}
#header .navbar {
    padding: 0 30px;
}
#header .navbar-nav {
    align-items: center;
}
#header .navbar-nav .nav-item {
    padding-right: 34px;
}
#header .navbar-brand {
    padding: 0;
}
#header .nav-call button {
    @include styleText($fs-3, $fw-2, $color-white);
    @include styleButton($color-pink, 1.1em, 1.5em, 2px solid $color-pink, 50px, 1px);
    transition: all 300ms ease;
    &:hover {
        @include styleText($fs-3, $fw-2, $color-pink);
        @include styleButton($color-white, 1.1em, 1.5em, 2px solid $color-pink, 50px, 1px);
    }
}
