.navbar-brand img {
    height: 80px;
}

.social_network {
    display: flex;
}
#header .social_network a {
    padding: 16px 0;
}
#header .navbar-nav a {
    @include styleText($fs-3, $fw-2, $color-dark-1);
    display: block;
    line-height: 64px;
    &:hover {
        @include styleText($fs-3, $fw-2, $color-pink);
    }
}
#header .navbar {
    padding: 0 30px;
    transition: all 200ms ease;
}
#header .navbar-nav {
    align-items: center;
}
#header .navbar-nav .nav-item {
    padding-right: 34px;
}
#header .navbar-brand {
    padding: 0;
}
#header .nav-call button {
    min-width: 200px;
    outline: none;
    font-weight: $fw-2;
    text-align: center;
    box-shadow: 0 0 0 3em $color-pink inset;
    color: $color-dark-1;
    @include styleText($fs-3, $fw-2, $color-white);
    @include styleButton(transparent, 0.8em, 1.5em, 2px solid $color-pink, 50px, 1px);
    transition: all 300ms ease;
    &:hover {
        color: $color-pink;
        box-shadow: 0 0 0 1px $color-white inset;
    }
}
@include mediaQuery("large") {
    #header .navbar-nav a {
        line-height: 1.5;
    }

    #header .navbar {
        background-color: $color-white;
        text-align: right;
    }
}
