.testimonial{
    background-color: $color-purple;
    background-image: url(../img/Wave_White_bottom_right_shape_01.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: $pd-6 0 ;
}
.testimonial .tes_item{
    transition: all 300ms ease-in-out;
}

.testimonial .tes_item:hover{
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.testimonial .tes_item .card-body{
    text-align: center;
    padding: $pd-3;
}
// .testimonial .card_bg{
//     padding: 0 $pd-2;
// }
.testimonial .tes_item{
    border-radius: 10px;
}
.testimonial .tes_item .tes_img{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.testimonial .tes_item img{
    object-fit: cover;
    transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
    &:hover{
        transform: scale3d(1.05,1.05,1.05);
    }
}

.testimonial .tes_item .card-title{
    @include styleText($fs-1,$fw-2,$color-pink)
}
.testimonial .tes_item .card-name{
    @include styleText($fs-6,$fw-3,$color-dark-2)
}
.testimonial .tes_item .card-text{
    @include styleText($fs-4,$fw-1,$color-dark-1)
}